/* Global Styles Start Here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #fff;
    color: #000;
}

:root {
    /* font sizes */
    --fs-h1: 3.75rem;
    --fs-h2: 3rem;
    --fs-h3: 2.25rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;
    --fs-h6: 1.125rem;
    --fs-p: 1rem;
    --f2-p2: 1.4rem;
    --fs-nav: 1.7rem;
    --fs-sub-nav: 1.6rem;
    --fs-lk: 16rem;
    /* line height and spacing */
    --ln-ht: 1rem;
    --ln-sp: 1px;
    /* colors */
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grass: #879c3a;
    --clr-grass-dark: #76853e;
    --clr-secondary-bg: #F1F3E7;
    --clr-blue: #253444;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: auto;
    /* min-height: 100vh; */
}
.top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    background: lightgray;
    bottom: 1.25rem;
    right: 1.25rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid var(--clr-white);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
:target { 
      scroll-margin-top: 14rem; 
}
/* Global Styles End Here */

/* Header and Navbar Styles Start Here */
header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 5;
}
nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-top {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 5rem;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.6);
}
.nav-top-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 0;
    text-transform: uppercase;
    width: 160px;
    font-weight: 600;
}

.nav-top-item i {
    margin-right: .5rem;
    font-size: 2rem;
}
.nav-top-left {
    font-size: 12px;
}
.nav-top-right {
    justify-content: flex-end;
    font-size: 18px;
}
.nav-logo {
    justify-content: center;
}
.logo {
    width: 125px;
}


nav ul {
    position: relative;
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 2rem;
    text-transform: uppercase;
    position: relative;
    display: block;
    transition-duration: 0.5s;
    /* width: 150px; */
    width: auto;
    font-size: 12px;
}
nav ul li a {
    text-decoration: none;
    color: var(--clr-white);
    letter-spacing: 1px;
}
.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #879c3a;
    width: 100%;
    height: 2rem;
    text-align: center;
    z-index: 5;
}
.nav-lower {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
    background-color: rgba(255,255,255,0.6);
    z-index: 1;
}
.nav-lower h5 {
    font-size: var(--fs-h5);
}
.nav-lower a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    background-color: var(--clr-grass-dark);
    color: var(--clr-white);
    font-size: 12px;
    padding: .25rem .5rem;
    text-transform: uppercase;
}
/* Header and Navbar Styles End Here */






/* Hero Styles Start Here */
#hero {
    background-image: url(img/hero-image-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    border-bottom: 2px solid #ffffff;
}
#hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 15rem;
}
#hero-text h2 {
    margin-bottom: 1.5rem;
    font-size: var(--fs-h3);
    font-family: 'Merriweather';
    font-weight: 600;
}
#hero-text h1 {
    font-size: var(--fs-h1);
    font-weight: 500;
}
/* Hero Styles End Here */






/* Grid Main Styles Start Here */
/* #grid-main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #879C3A, #ffffff);
    padding: 0 3rem;
}
#grid-main-your-stay {
    grid-area: your-stay;
    background-image: url(img/your-stay-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-floated-house {
    grid-area: floated-house;
    background-image: url(img/little-floated-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-beaches {
    grid-area: beaches;
    background-image: url(img/our-ocean-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-trails {
    grid-area: trails;
    background-image: url(img/our-land-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-legacy {
    grid-area: legacy;
    background-image: url(img/our-legacy-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-gallery {
    grid-area: gallery;
    background-image: url(img/our-air-opt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-vid {
    grid-area: vid;
    background-image: url(img/Rectangle\ 11.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-main-area {
    position: relative;
    display: grid;
    grid-auto-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
     "your-stay your-stay your-stay your-stay floated-house floated-house floated-house floated-house"
     "trails trails beaches beaches gallery gallery legacy legacy "
     "vid vid vid vid vid vid vid vid";
    grid-gap: 1rem;
    padding: 2rem;
    background-color: transparent;
    width: 100%;
}

.grid-main-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 275px;
    background-color: white; 
    cursor: pointer;
}
.grid-main-item-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: auto;
}
.grid-main-item-title-text {
    height: 25px;
    padding: .5rem 1rem;
    border-radius: 0 8px 8px 0;
    background-color: #879c3a;
    color: white;
    margin-top: 1rem;
    
}
.grid-main-item-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;    
}
.grid-main-item-banner-text {
    position: relative;
    background-color: #879c3a;
    color: white;
    margin-bottom: 1rem;
    height: 25px;
    padding: .5rem 1rem;
    border-radius: 8px 0 0 8px;
} */
/* Grid Main Styles End Here */


/* Categories Main Section Starts Here */
#categories-main {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, var(--clr-grass), var(--clr-white));
    padding-top: 2rem;
}
#categories-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
.category-items {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.category-item-half {
    position: relative;
    display: flex;
    width: 100%;
}
.category-item-half img {
    width: 100%;
    height: 300px;
    padding: 0 .5rem;
    border-radius: 8px;
}
.category-item-quad {
    position: relative;
    display: flex;
    width: 100%; 
}
.category-item-quad img {
    width: 100%;
    height: 300px;
    padding: 0 .5rem;
    border-radius: 8px;
}
.category-item-banner-top {
    position: absolute;
    top: 1rem;
    left: .5rem;
    background-color: var(--clr-grass);
    color: var(--clr-white);
    letter-spacing: 1px;
    font-size: var(--fs-p);
    border-radius: 0 8px 8px 0;
    padding: .25rem .75rem;
}
.category-item-banner-bottom {
    position: absolute;
    bottom: 1rem;
    right: .5rem;
    background-color: var(--clr-grass);
    color: var(--clr-white);
    letter-spacing: 1px;
    font-size: var(--fs-p);
    border-radius: 8px 0 0 8px;
    padding: .25rem .75rem;
}
.category-items#vid {
    position: relative;
    width: 100%;
    justify-content: center;
}
.category-items#vid img {
    width: calc(100% - 1rem);
}
.category-item-half a,
.category-item-quad a {
    width: 100%;
}
/* Categories Main Section Ends Here */



/* Mountain Main Styles Start Here */
#mountain-main {
    position: relative;
    /* width: 100%; */
    /* height: auto; */
    /* height: 156px; */
}
#mountain-main img {
    width: 100%;
    max-width: 100vw;
    height: 156px;
}
/* Mountain Main Styles End Here */





/* Our Legacy Styles Start Here */
#legacy-top {
    padding-top: 15rem;
    width: 100%;
}
#legacy-top h2 {
    padding-left: 5rem;
    font-size: var(--fs-h2);
}
#legacy-top img {
    width: 100%; 
}
#legacy-top p {
    padding: 0 5rem 1rem 5rem;
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.legacy-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-bottom: 2px solid lightgray; */
}
.legacy-box:last-child(4) {
    border-bottom: none;
}
.legacy-box h4 {
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    font-size: var(--fs-h4);
}
.legacy-box-content {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 5rem;
    margin-bottom: 1rem;
}
.legacy-info,
.legacy-images {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.legacy-info p,
.legacy-images p {
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.legacy-images {
    margin-left: .5rem;
}
.legacy-images-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.legacy-images-box img {
    position: relative;
    width: 100%;
    padding-right: 1rem;
}
.legacy-link {
    margin-top: 1rem;
}
.legacy-info img {
    position: relative;
    width: 100%;
    padding-right: .5rem;
}
.legacy-content-col-wrapper {
    position: relative;
    display: flex;
    padding: 0 5rem;
}
.legacy-content-col.text,
.legacy-content-col.images {
    width: 50%;
}
.legacy-right-padd {
    padding-right: .5rem;
}
.legacy-left-padd {
    padding-left: .5rem;
}
.legacy-content-col p {
    margin-bottom: .5rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.legacy-content-col.images img {
    width: 100%;
    margin-bottom: 1rem;
}
/* Our Legacy Styles End Here */





/* Activities Styles Start Here */
.activities {
    position: relative;
    display: flex;
    flex-direction: column;
}
#activities-top {
    padding-top: 15rem;
}
.activities-top-maps {
    padding: 0 5rem;
}
.activities-top-maps h2 {
    font-size: var(--fs-h2);
    margin-bottom: 1rem;
}
.activities-top-maps img {
    width: 100%;
    border-radius: 8px;
}




.activity-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5rem;
}
.activity-wrapper h3 {
    font-size: var(--fs-h3);
    text-align: center;
    margin: 1rem 0;
}
.activity-wrapper-inner {
    position: relative;
    display: flex;
    width: 100%;
}
.activity-text {
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.activity-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 50vw;
    margin-right: .5rem;
}
.activity-images {
    position: relative;
    display: flex;
}
.activity-images img {
    width: 100%;
    max-width: 50%;
    border-radius: 8px;
}
.activity-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50vw;
    margin-left: 1rem;
}
.activity-image img {
    width: 100%;
    border-radius: 8px;
}
#trails-top {
    position: relative;
    width: 100%;
    padding: 0 5rem;
}
#trails-top h3 {
    font-size: var(--fs-h3);
    margin: 1rem 0;
}
#trails-top img {
    width: 100%;
    border-radius: 8px;
}

.activity-salvage {
    position: relative;
    display: flex;
    width: 100%;
}
.salvage-text {
    position: relative;
    width: 100%;
    max-width: 50vw;
    padding-right: 1rem;

    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.salvage-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
    margin-left: .5rem;
}
.salvage-image img {
    width: 100%;
    border-radius: 8px;
}
.salvage-images {
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    max-width: 100vw;
    margin-top: 1rem;
}
.salvage-images img {
    width: 100%;
    border-radius: 8px;
    /* padding: 0 .5rem; */
}
.salvage-image-item:nth-child(2) {
    padding-left: 1rem;
    padding-right: .5rem;
}
.salvage-image-item:nth-child(3) {
    padding-left: .5rem;
    padding-right: 1rem;
}

.day-trip-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.day-trip-wrapper h2 {
    font-size: var(--fs-h2);
    margin: 1rem 0;
}
.day-trip-wrapper h3 {
    font-size: var(--fs-h3);
    margin-bottom: 1rem;
}
.day-trip-list {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#day-trip-list-left,
#day-trip-list-right {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
#day-trip-list-left ul li,
#day-trip-list-right ul li {
    list-style: none;
    text-align: center;

    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
/* .trip-list-title {
    font-weight: 900;
} */
.day-trip-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 3rem;
}
.day-trip-image-item {
    position: relative;
    display: flex;
    width: 290px;
    height: 240px;
    margin: 1.25rem .5rem;
}
.day-trip-image-item img {
    width: 100%;
    border-radius: 8px;
}
#day-trip-map {
    position: relative;
    padding: 0 5rem;
    margin-top: 1rem;
}
#day-trip-map img {
    width: 100%;
    border-radius: 8px;
}
.day-trip-info {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.day-trip-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
}
.day-trip-text h3:nth-child(2) {
    margin-top: 1rem;
}
.dtp {
    margin-top: 1rem;
}
.dtb {
    font-weight: bold;
    
}
/* Activities Styles End Here */





/* Accommodation Styles Start Here */
#accommodation {
    padding-top: 15rem;
}
.accommodation-top {
    position: relative;
    display: flex;
    flex-direction: column;
}
.accommodation-container,
.cabin-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 4.5rem;
}
.accommodation-top h2 {
    padding-bottom: 1rem;
    align-self: flex-start;
    padding-left: 5rem;
    font-size: var(--fs-h2);
}
.accommodation-top img {
    width: 100%;
}
.accommodation-top p {
    padding: 1rem 0 1rem 5rem;
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.accommodation-secondary-bg {
    background-color: var(--clr-secondary-bg);
}
.accommodation-info {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 .5rem;
}
.accommodation-info h3 {
    margin-bottom: 1rem;
    font-size: var(--fs-h3);
    font-weight: 700;
}
.accommodation-info h5 {
    margin-bottom: 1rem;
    font-size: var(--fs-h5);
    font-weight: 700;
}
.accommodation-info p {
    margin-top: 1rem;
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.accommodation-details {
    position: relative;
    width: 50%;
}
.accommodation-details.one {
    padding-right: 5rem;
}
.accommodation-details.two {
    padding-left: 1rem;
    padding-right: 5rem;
}
.accommodation-image {
    width: 50%;
}
.accommodation-image img {
    width: 100%;
    border-radius: 8px;
}
.accommodation-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.accommodation-image-item {
    position: relative;
    width: 25%;
    padding: 1rem .5rem;
}
.accommodation-image-item img {
    width: 100%;
    border-radius: 8px;
    /* max-width: 21vw; */
}
/* .accommodation-image-item img:nth-child(1) {
    position: relative;
    padding-left: 0;   
}
.accommodation-image-item img:nth-child(4) {
    position: relative;
    padding-right: 0;   
} */



.cabin-container {
    width: 100%;
    /* padding: 0 .5rem; */
}
.cabin-image,
.cabin-info {
    width: 50%;
}
.cabin-image img {
    width: 100%;
    border-radius: 8px;
}
.cabin-container h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
}
.cabin-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 1rem; */
    width: 50%;
}
.cabin-details {
    position: relative;
    display: flex;
    padding: 0 .5rem;
}
.cpr {
    padding-right: .5rem;
}
.cpl {
    padding-left: .5rem;
}
/* .cabin-image p {
    color: var(--clr-white);
} */
.cabin-banner {
    position: absolute;
    top: 2rem;
    background-color: var(--clr-grass);
    color: var(--clr-white);
    font-size: var(--fs-p);
    letter-spacing: 1px;
    border-radius: 0 8px 8px 0;
    padding: .25rem .75rem;
}
.cabin-text-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.cabin-text-top h5 {
    font-size: var(--fs-h5);
}
.cabin-text p {
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
}
.cabin-view {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cabin-view-item {
    width: calc(50% - .5rem);
}
.cabin-view-item img {
    width: 100%;
    border-radius: 8px;
}
/* Accommodation Styles End Here */





/* Gallery Styles Start Here */
#gallery-top {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}
#gallery-two,
#gallery-three,
#gallery-four {
    margin-top: 1.2rem;
}
.gallery-grid {
    position: relative;
    display: grid;
    width: 90%;
    grid-auto-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.2rem;
    height: 300px;
}
.gallery-grid#gallery-one {
    grid-template-areas: 
     "one-a one-a one-b one-b one-b one-e one-e one-e"
     "one-a one-a one-b one-b one-b one-e one-e one-e"
     "one-a one-a one-c one-c one-d one-e one-e one-e"
     "one-a one-a one-c one-c one-d one-e one-e one-e"
     "one-a one-a one-c one-c one-d one-e one-e one-e";
}
.gallery-grid#gallery-two {
    grid-template-areas: 
     "two-a two-a two-a two-b two-b two-b two-e two-e"
     "two-a two-a two-a two-b two-b two-b two-e two-e"
     "two-a two-a two-a two-c two-c two-d two-e two-e"
     "two-a two-a two-a two-c two-c two-d two-e two-e"
     "two-a two-a two-a two-c two-c two-d two-e two-e";
}
.gallery-grid#gallery-three {
    grid-template-areas: 
     "three-a three-a three-b three-b three-b three-e three-e three-e"
     "three-a three-a three-b three-b three-b three-e three-e three-e"
     "three-a three-a three-c three-c three-d three-e three-e three-e"
     "three-a three-a three-c three-c three-d three-e three-e three-e"
     "three-a three-a three-c three-c three-d three-e three-e three-e";
}
.gallery-grid#gallery-four {
    grid-template-areas: 
     "four-a four-a four-a four-b four-b four-b four-e four-e"
     "four-a four-a four-a four-b four-b four-b four-e four-e"
     "four-a four-a four-a four-c four-c four-d four-e four-e"
     "four-a four-a four-a four-c four-c four-d four-e four-e"
     "four-a four-a four-a four-c four-c four-d four-e four-e";
}
.gallery-grid-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s ease;
    
    /* display: block; */
    /* width: 100%; */
    overflow: hidden;
}
.gallery-grid-item img {
    width: 100%;
    /* display: block; */
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    object-fit: cover;
    transition: 0.2s ease;
}
.gallery-grid-item img:hover {
    transform: scale(1.05);
    filter: grayscale(75%);
    transition: 0.2s ease;
}
/* .gallery-grid-item:hover {
    transform: scale(1.05);
    filter: grayscale(1);
    transition: 0.2s ease;
} */
#one-a {
    grid-area: one-a;
    /* background-image: url(img/Rectangle\ 8.png);     */
}
#one-b {
    grid-area: one-b;
    background-image: url(img/Rectangle\ 8.png);
}
#one-c {
    grid-area: one-c;
    background-image: url(img/Rectangle\ 8.png);
}
#one-d {
    grid-area: one-d;
    background-image: url(img/Rectangle\ 8.png);
}
#one-e {
    grid-area: one-e;
    background-image: url(img/Rectangle\ 8.png);
}
#two-a {
    grid-area: two-a;
    background-image: url(img/Rectangle\ 8.png);
}
#two-b {
    grid-area: two-b;
    background-image: url(img/Rectangle\ 8.png);
}
#two-c {
    grid-area: two-c;
    background-image: url(img/Rectangle\ 8.png);
}
#two-d {
    grid-area: two-d;
    background-image: url(img/Rectangle\ 8.png);
}
#two-e {
    grid-area: two-e;
    background-image: url(img/Rectangle\ 8.png);
}
#three-a {
    grid-area: three-a;
    background-image: url(img/Rectangle\ 8.png);  
}
#three-b {
    grid-area: three-b;
    background-image: url(img/Rectangle\ 8.png);
}
#three-c {
    grid-area: three-c;
    background-image: url(img/Rectangle\ 8.png);
}
#three-d {
    grid-area: three-d;
    background-image: url(img/Rectangle\ 8.png);
}
#three-e {
    grid-area: three-e;
    background-image: url(img/Rectangle\ 8.png);
}
#four-a {
    grid-area: four-a;
    background-image: url(img/Rectangle\ 8.png);  
}
#four-b {
    grid-area: four-b;
    background-image: url(img/Rectangle\ 8.png);
}
#four-c {
    grid-area: four-c;
    background-image: url(img/Rectangle\ 8.png);
}
#four-d {
    grid-area: four-d;
    background-image: url(img/Rectangle\ 8.png);
}
#four-e {
    grid-area: four-e;
    background-image: url(img/Rectangle\ 8.png);
}
/* Gallery Styles End Here */






/* Contact Styles Start Here */
#hero-contact {
    background-image: url(img/contact-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5rem;
    color: white; 
}
.hero-contact-text {
    position: relative;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
}
.hero-contact-text h1 {
    font-size: var(--fs-h1);
    font-weight: 500;
}
.contact-text {
    width: 100%;
    text-align: center;
}
.contact-text h4 {
    margin: 1rem 0;
    font-size: var(--fs-h4);
}
.contact-text p {
    margin-bottom: .5rem;
    font-size: var(--fs-p);
    font-weight: 500;
    letter-spacing: 1px;
}
.contact-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 5rem;
}
#contact-image {
    width: 50%;
}
#contact-image img {
    max-width: 100%;
    border-radius: 8px;
}
#contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-weight: 700;
    padding-top: 2rem;
    background-color: transparent;
}
#contact-info h3 {
    margin-bottom: 1.5rem;
}
#contact-info p:nth-child(5) {
    margin-top: 1rem;
}
#contact-icons {
    position: relative;
    display: flex;
}
#contact-icons i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    background-color: var(--clr-black);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 22px;
    margin: 2rem 1rem;
}
/* #contact-map {
    margin-bottom: 2rem;
} */
/* Contact Styles End Here */






/* Footer Styles Start Here */
#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding-bottom: 1rem;
}
.footer-logo img {
    width: 150px;
    padding: 1rem 0;
}
#footer-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer-col h3 {
    padding: 1rem 0;
}
.footer-col ul li {
    list-style: none;
    margin-bottom: .5rem;
    font-size: var(--fs-h6);
}
.footer-col .list-secondary,
.footer-col .list-tertiary {
    margin-left: 1rem;
    margin-top: .5rem;
}
.footer-col i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 22px;
    margin-right: 1rem;
    margin-top: 2rem;
}
#footer-icons {
    display: flex;    
}
.footer-copyright {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 0;
    margin-right: 7rem;
}
/* Footer Styles End Here */

/* Responsive Styles Start Here */
@media (max-width: 1199px) {
    
}
@media (max-width: 991px) {

}
@media (max-width: 768px) {

}
@media (max-width: 512px) {

}
/* Responsive Styles End Here */